*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: rgba(151, 150, 141, 0.786);
    width: 100%;
    max-width: 800px;
    margin:  auto;
    display: flex;
    flex-direction: column;
    height: auto;

    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.286);
}

.header{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: rgb(103, 103, 103);
    height: 180px;
    border-bottom: 2px solid black;
}

.prof-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    height: 165px;
}

.name-area{
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 15px;
    gap: 10px;
    position: relative;
    left: 20px;
}
.name-area p{
    font-size: 16px;
}

.contact-area{
    display: grid;
}

.contact-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-area img{
    filter: invert(1);
    height: 22px;
}

.contact-area a, .contact-area p{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    cursor: pointer;
}

.main-container{
    display: flex;
    width: 100%;;
    height: auto;
    min-height: auto;
}

.content{
    flex: 6;
    padding: 20px;
    background-color: rgb(223, 223, 223);

}

.sidebar{
    flex: 4;
    padding: 20px;
    background-color: rgb(223, 223, 223);
    border-right: 4px solid black;

}

.stopka{
    background-color: rgb(215, 215, 215);
}

.formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.formation h2, 
.skills h2, 
.language h2, 
.hard-skills h2, 
.in-progress h2,
.experience h2,
.about-me h2, 
.projects h2{
    margin-bottom: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

.school-addres{
    font-weight: lighter;
}

.skills{
    margin: 40px 10px;
}

.skills-list{
    position: relative;
    left: 20px;
    font-size: 18px;
}

.skills-list li{
    margin-top: 3px;
}
.hard-skills h2{
    position: relative;
    left: 10px;
}

.hard-skills li{
    position: relative;
    left: 30px;
}


.language{
    margin: 40px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.language-select{
    font-weight: bold;
}

.about-me{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-me h2{
    font-size: 28px;
}

.facts-about-me{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.projects{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-top:10px;
    border-top: 1px solid black ;
}

.projects-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
    gap: 10px;
    padding-top: 10px;
}

.projects-area a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.calculator-project,
.weather-app{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
    font-size: 15px;
    gap: 5px;
}

.projects-tech{
    font-size: 12px;
}



.weather-app img,
.calculator-project img{
    height: 60px;
    padding: 5px 5px 0 5px ;
}


.calculator-project p,
.weather-app p{
    padding: 0 5px 5px 5px;
}

.experience{
    border-top: 1px solid black;
    padding-top: 10px;
    margin: 15px;
}

.date-possesion{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.exp-tasks{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


@media (max-width:700px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        border-bottom-left-radius: 0;
        border-bottom:2px solid black ;
    }

    .header{
        grid-template-columns: 1fr;
        height: auto;
        gap: 20px;
        padding: 20px;
    }
    .prof-picture{
        justify-content: center;
    }
    .name-area{
        position: static;
        align-items: center;
        text-align: center;
    }

    .contact-area{
        margin: 0 auto 0;
        gap: 7px;
    }

    .sidebar{
        order: 2;
        border-right:none ;
        border-top: 4px solid black;
    }

    .content{
        order:1;
    }
}

@media  (815px > width > 700px) {
   .contact-area a, .contact-area p{
    font-size: 12px;
    }
    .contact-area img {
        transform: scale(0.9);
    }
}

